h1 {
    font-size: 4vw;
    font-weight: bold;
}

h2 {
    font-size: 1.7vw;
    font-weight: bold;
}

h6 {
    font-size: 1.1vw;
}

p {
    font-size: 1.1vw;
}

li {
    font-size: 1.1vw;
}

#bodyContainer {
    position: absolute;
    top: 2%;
    left: 2%;
    right: 2%;
}

#robinImg {
    float: left;
    padding: 0 20px 0 0;
}

#myLanguages {
    float: left;
    padding: 0 26px 0 0;
}
